.top--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 1170px) {
  .top--wrapper {
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (max-width: 710px) {
  .top--wrapper {
    flex-direction: column;
  }
}

@media (max-width: 710px) {
  .top--wrapper__logo {
    margin-bottom: 10px;
  }
}

.top--wrapper__text {
  font-size: 0.8667em;
  margin: 0;
  color: #313338;
}

@media (max-width: 710px) {
  .top--wrapper__text {
    margin-bottom: 10px;
  }
}

.top--wrapper__icon {
  margin-right: 3px;
  color: #b95a4d;
}

.top--wrapper__phone {
  font-size: 1.1333em;
  color: #325294;
  margin-left: 100px;
}

@media (max-width: 1170px) {
  .top--wrapper__phone {
    margin-left: 0;
  }
}

@media (max-width: 710px) {
  .top--wrapper__phone {
    margin-bottom: 10px;
  }
}

.top--wrapper__button {
  font-size: 1em;
  color: #325294;
  border: 2px solid #325294;
  height: 50px;
  width: 192px;
  background: transparent;
  letter-spacing: 0.15em;
}

.top--line {
  width: 100%;
  height: 1px;
  background: #eef1f7;
}

@media (max-width: 710px) {
  .top--line {
    display: none;
  }
}

.top--menu {
  padding: 22px 152px 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Cuprum', sans-serif;
  font-weight: 700;
}

@media (max-width: 1170px) {
  .top--menu {
    padding: 20px 0;
  }
}

@media (max-width: 710px) {
  .top--menu {
    flex-direction: column;
    justify-content: space-around;
  }
}

.top--menu__link {
  color: #325294;
  font-size: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media (max-width: 710px) {
  .top--menu__link {
    margin-bottom: 10px;
    text-align: center;
  }
}

.top--menu__link_active {
  color: #b95a4d;
  cursor: default;
}

.header__title {
  font-size: 3em;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  letter-spacing: 0.15em;
  color: #ffffff;
}
