.leaders-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leaders-item {
  width: 22%;
}

@media (max-width: 1170px) {
  .leaders-item {
    width: 45%;
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (max-width: 710px) {
  .leaders-item {
    width: 95%;
  }
}

.leaders-item__title {
  font-family: 'HelveticaBold';
  line-height: 25px;
  margin-bottom: 12px;
}

.leaders-item__img {
  height: 64px;
  margin-bottom: 15px;
}

.leaders-item__img img {
  max-width: 100%;
}

.leaders-item__txt {
  line-height: 25px;
  margin: 0;
}
